<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>{{ title }}</h1>

        <!-- Form to take user input -->
        <form method="post">
            <label for="input_string">Ingrese Cadena:</label>
            <input type="text" id="input_string" name="input_string">
            <input type="submit" value="Process">
        </form>

        <!-- Display processed string -->
        {% if processed_string %}
        <h2>String procesada: {{ processed_string }}</h2>
        {% endif %}

        <p><a href="/">Inicio</a></p>
    </body>
</html>
